* text=auto
*.js text eol=lf
*.cjs text eol=lf
*.py text eol=lf
*.json text eol=lf
*.geojson text eol=lf
data/*.html text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.tif binary
*.jpg binary
*.png binary
*.glb binary
